<section class='section film-month'>
  <h3 class='film-month_title'>Upcoming this month</h3>
  <div class='film-month_wrapper'>
    <div class='film-month_image'>
      <img class='film-month_img'
           src='https://www.themoviedb.org/t/p/w1066_and_h600_bestv2/1Ds7xy7ILo8u2WWxdnkJth1jQVT.jpg'
      >
    </div>
    <div class='film-month_content'>
      <div>
        <h3 class='film-month_info-title'>The lost city</h3>
      </div>
      <div class='film-month_info'>
        <div class='film-month_info-item'>
          <span class='film-month_info-label'>Release date</span>
          <span class='film-month_info-value film-month_info-year'>03.03.2023</span>
        </div>
        <div class='film-month_info-item'>
          <span class='film-month_info-label'>Vote/Votes</span>
          <span class='film-month_info-value'>
            <span class='value-number'>7.3</span>
            <span class='value-separator'> / </span>
            <span class='value-number'>1260</span>
          </span>
        </div>
        <div class='film-month_info-item'>
          <span class='film-month_info-label'>Popularity</span>
          <span class='film-month_info-value span-value'>99.9</span>
        </div>
        <div class='film-month_info-item'>
          <span class='film-month_info-label'>Genre</span>
          <span class='film-month_info-value span-value' >Comedy, action</span>
        </div>
      </div>
      <div class='film-month_about'>
        <h4 class='film-month_about-title'>About</h4>
        <p class='film-month_about-description'>Reclusive author Loretta Sage writes about exotic places in her popular
          adventure novels that feature a handsome cover model named Alan. While on tour promoting her new book with
          Alan, Loretta gets kidnapped by an eccentric billionaire who hopes she can lead him to an ancient city's lost
          treasure from her latest story. Determined to prove he can be a hero in real life and not just on the pages of
          her books, Alan sets off to rescue her.</p>
      </div>
      <div class='film-month_button'>
        <button class='film-month_button-add'>Add to my library</button>
      </div>
    </div>
  </div>
</section>