<button id="openModalButton">More details</button>

<div class="container">
  <div id="modal">
    <div class="modal-overlay"></div>
    <div class="modal more-details">
      <button type="button" class="modal-close-btn" data-modal-close>
        <svg class="modal-close-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-content">
        <div class="img-wrap">
            <img src="./img/Rectangle 24.png" alt="" class="modal-poster" />
        </div>
        <div class="details-wrap">
                        <h1 class="modal-title-movie">John Wick: Chapter 4</h1>
        <div class="movie-details">
          <table>
            <tbody>
              <tr>
                <td>Vote / Votes</td>
                <td>${vote}</td>
              </tr>
              <tr>
                <td>Popularity</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Genre</td>
                <td>Action</td>
              </tr>
            </tbody>s
          </table>
        </div>
        <h2 class="about">ABOUT</h2>
        <p class="about-text">
          John Wick (Keanu Reeves) takes on his most lethal adversaries yet
          in the upcoming fourth instalment of the series. With the price on
          his head ever increasing, John Wick uncovers a path to defeating
          The High Table. But before he can earn his freedom, Wick must face
          off against a new enemy with powerful alliances across the globe
          and forces that turn old friends into foes.
        </p>
        <button type="submit" class="modal-form-submit">
          Add to my library
        </button>
        </div>

      </div>
    </div>
  </div>
</div>