<section class='section weekly_trends'>
  <div class='weekly_trends_wrapper'>
    <h3 class='weekly_trends_title'>
      Weekly Trends
    </h3>
    <a class='link_to_catalog' href='https://www.google.com'> See all </a>
  </div>
  <div class=''>
    <ul class='weekly_trends_list'>
      <li class='weekly_trends_list_item film-1'>
        <img src='https://www.themoviedb.org/t/p/w600_and_h900_bestv2/liLN69YgoovHVgmlHJ876PKi5Yi.jpg'>
        <div class='weekly-trends_description'>
          <div>
            <h4 class = 'film_title'>Ghosted</h4>
            <h5 class='film_description'>Drama, Action <span class="separator">|</span> 2023</h5>
          </div>
          <div class="rating">★ ★ ★ ★ ★</div>
        </div>
      </li>
      <li class='weekly_trends_list_item film-2'>
        <img src='https://www.themoviedb.org/t/p/w600_and_h900_bestv2/qnqGbB22YJ7dSs4o6M7exTpNxPz.jpg'>
        <div class='weekly-trends_description'>
          <div>
            <h4 class = 'film_title'>Ghosted</h4>
            <h5 class='film_description'>Drama, Action <span class="separator">|</span> 2023</h5>
          </div>
          <div class="rating">★ ★ ★ ★ ★</div>
        </div>
      </li>
      <li class='weekly_trends_list_item film-3'>
        <img src='https://www.themoviedb.org/t/p/w600_and_h900_bestv2/5ik4ATKmNtmJU6AYD0bLm56BCVM.jpg'>
        <div class='weekly-trends_description'>
          <div>
            <h4 class = 'film_title'>Ghosted</h4>
            <h5 class='film_description'>Drama, Action <span class="separator">|</span> 2023</h5>
          </div>
          <div class="rating">★ ★ ★ ★ ★</div>
        </div>
      </li>
    </ul>
  </div>
</section>