.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

.search_film_input {
  background: transparent;
  padding: 12px 24px 12px 24px;
  margin-right: 16px;
  width: 219px;
  height: 40px;
  border: 1px solid var(--text-secondary-color);
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #b7b7b7;
  outline: none;
}

.search_film {
  padding-top: 40px;
}

.search_film_btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: transparent;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
}

.search_film_list {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  padding-bottom: 60px;
}

.search_film_title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #ffffff;
}

.search_film_genre {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b7b7b7;
}

.search_film_img_wrap {
  position: relative;
}

.search_film_img {
  border-radius: 5px;
}

.search_film_wrap {
  position: absolute;
  bottom: 20px;
  left: 9px;
  width: 90%;
}

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 63.48%,
      rgba(0, 0, 0, 0.9) 92.16%);
}

#form {
  position: relative;
}

.btn_reset {
  background: transparent;
  border: transparent;
  color: #b7b7b7;
  position: absolute;
  cursor: pointer;
  right: 25%;
  top: 10px;
}

.stars {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .search_film {
    text-align: center;
  }

  .search_film_wrap,
  .search_film_img {
    width: 224px;
  }

  .search_film_title,
  .search_film_genre {
    font-size: 12px;
    line-height: 1.5;
  }

  .search_film_list {
    column-gap: 16px;
    row-gap: 28px;
  }

  .search_film_list {
    padding-top: 36px;
  }

  .search_film {
    padding-top: 60px;
  }

  .btn_reset {
    right: 40%;
  }

  .to_top {
    width: 45px;
    height: 45px;
  }

  .stars {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1290px;
  }

  .search_film_wrap,
  .search_film_img {
    width: 394px;
  }

  .search_film_title {
    font-size: 18px;
  }

  .search_film_genre {
    font-size: 20px;
    line-height: 1.15;
  }

  .search_film_input {
    width: 334px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }

  .search_film_wrap {
    left: 20px;
  }
}

/* =========== */

.cards__message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 124px;
}

.cards__text {
  /* color: white; */
  color: var(--text-secondary-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-style: normal;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  margin-top: 48px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .cards__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .cards__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.4;
    margin-top: 120px;
    margin-bottom: 70px;
  }
}

.tui-pagination {
  display: flex;
  justify-content: center;
  height: 40px;
  padding-bottom: 100px;
}

.tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  color: #b7b7b7;
  background: transparent;
}

a {
  text-decoration: none;
}

.tui-page-btn:hover,
.tui-page-btn:focus {
  color: #f87719;
  border: 1px solid #f87719;
}

.tui-page-btn.tui-is-selected {
  color: white;
  border: none;
  cursor: pointer;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
}

@media (max-width: 767px) {
  .tui-page-btn.tui-first {
    fill: white;
    margin: 0;
    border: none;
    background-image: url('../images/catalog-pagination/left-arrow_mobil.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

@media (min-width: 768px) {
  .tui-page-btn.tui-first {
    margin: 0;
    border: none;
    background-image: url('../images/catalog-pagination/left-arrow.png');
    background-repeat: no-repeat;
    background-position: 50%;

    border: none;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .tui-page-btn {
    width: 24px;
    height: 24px;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .tui-page-btn.tui-last {
    fill: #b7b7b7;
    background-image: url('../images/catalog-pagination/right-arrow_mobil.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .tui-page-btn.tui-last {
    border: none;
    fill: #b7b7b7;
    background-image: url('../images/catalog-pagination/right-arrow.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.tui-page-btn.tui-prev-is-ellip.tui-first-child,
.tui-page-btn.tui-next-is-ellip.tui-last-child {
  border: none;
}

@media (max-width: 767px) {
  .tui-page-btn.tui-next {
    fill: #b7b7b7;
    background-image: url('../images/catalog-pagination/right-arrow_mobil.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .tui-page-btn.tui-next {
    fill: #b7b7b7;
    background-image: url('../images/catalog-pagination/right-arrow.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .tui-prev {
    fill: #b7b7b7;
    background-image: url('../images/catalog-pagination/left-arrow_mobil.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
  }
}

.tui-prev {
  margin-right: 16px;
}

@media (min-width: 768px) {
  .tui-page-btn.tui-prev {
    fill: #b7b7b7;
    background-image: url('../images/catalog-pagination/left-arrow.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
  }
}

.tui-next-is-ellip,
.tui-prev-is-ellip {
  fill: #b7b7b7;
  border: none;
  width: 10px;
}

.tui-is-disabled {
  display: none;
}

.tui-next-is-ellip.tui-last-child {
  margin-right: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.display-hidden {
  display: none;
}

/* ff */