
.footer {
    font-size: 14px;

  font-size: 14px;

  color: var(--color-tertiary);
  line-height: 1.8;
  background-color: var(--color-primary);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-text-none {
  text-decoration: underline;
}

.footer-text {
  display: inline-block;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
 display: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition-property: visibility, opacity, transform;
  transition-duration: 250ms;
}

.popup.open {
  opacity: 1;
  display: block;
}

.popup-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-team {
  border-radius: 10px;
  background-color: var(--text-secondary-color);
}

.body--modal-open {
  overflow: hidden;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;
}

.splide {
  padding: 20px;
}

.card-content {
  align-items: center;
  text-align: center;
  width: 150px;
}

.icon-close {
  fill: var(--color-tertiary);
}

.img-team {
  height: 180px;
}

.icon-close:hover,
.icon-close:focus {
  fill: var(--color-secondary);
  box-shadow: 1px 1px 2px var(--color-secondary);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-content {
    width: 130px;
  }
}

@media screen and (min-width: 1024px) {
  .card-content {
    width: 170px;
  }

  .img-team {
    width: 300px;
    height: 260px;
  }
}

@media screen and (min-width: 768px) {
  .team-content {
    height: 190px;
  }
}

.team-title {
  font-size: var(--font-size-subtitle);
  color: var(--color-primary);
  line-height: 1.2;
}

.team-text {
  font-size: 14;
  margin-top: 5px;

  color: var(--color-tertiary);
  line-height: 1.2;
}

.team-links {
  padding: 10px 20px;
  vertical-align: bottom;
  color: var(--color-primary);
}
.team-links:hover,
.team-links:focus{
  text-shadow: 1px 1px 2px black;
}

.splide__arrow svg {
  fill: var(--color-secondary);

}
                                                    