.blocked-element {
    pointer-events: none;
}

.noScroll {
    overflow: hidden;
}

/* ====================================================== */
.hero {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    height: 380px;
    background: linear-gradient(86.77deg, #111111 1.38%, rgba(17, 17, 17, 0) 10.61%), url(../images/BG/mobile-bg-home-x1-min.jpg);
    background-position: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: var(--color-primary) */
    background-color: black;
}



.hero-title {
    padding-top: 40px;
    max-width: 200px;
    font-style: normal;
    font-size: 32px;
    line-height: calc(38/32);
    /* color: var(--text-secondary-color) */
    color: #FFFFFF;
}



.hero-text {
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    max-width: 180px;
    /* color: var(--text-primary-color) */
    color: #FFFFFF;
}


.hero-wrapper-btn {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}


.hero-getstarted-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    padding: 12px 24px;

    color: #111111;
    background: var(--btn-linear-color);
    border-radius: 74px;
    border: none;
    cursor: pointer;
    transition: var(--primary-duration-timing)
}

.hero-getstarted-btn:hover,
.hero-getstarted-btn:focus {
    color: #F87719;
    background: #FFFFFF;
    border: 1px solid #F87719;

}

.hero-moredetails-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    padding: 12px 24px;


    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 74px;
    cursor: pointer;
    transition: var(--primary-duration-timing)
}



.hero-moredetails-btn:hover,
.hero-moredetails-btn:focus {
    color: #F87719;
    background: #FFFFFF;
    border: 1px solid #F87719;
}

.trailer-modal {
    position: absolute;
    max-width: 480px;
    max-height: 360px;
    width: 90%;
    height: 80%;
    /* background-color: var(--color-primary); */
    background-color: #111111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
    border-radius: 16px;
}

.trailer-text {
    padding: 39px 33px 0 33px;
    font-size: 16px;
    line-height: calc(19/16);
    color: var(--text-secondary-color);
}

.trailer-srcset {
    display: flex;
    justify-content: center;
}

.trailer-img {
    margin-top: 24px;

}

.trailer-svg-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 7px;
    height: 7px;
    cursor: pointer;
    z-index: 2;
}



.trailer-svg-close.inother-position {
    top: -14px;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
}


#trailer-video {
    position: absolute;
    max-width: 480px;
    max-height: 360px;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 16px;

}




.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: scroll;
}

.hero-more-deteils {
    position: absolute;
    margin-top: 60px;

    left: 50%;
    transform: translate(-50%);
    width: 90%;
    max-width: 320px;
    background-color: #111111;
    z-index: 3;
    padding: 52px 16px;
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
    border-radius: 16px;

}


.hero-more-poster {

    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.hero-more-svg {
    top: 20px;
    right: 20px;
    position: absolute;
    color: #FFFFFF;
    cursor: pointer;
}

.hero-more-svg:hover {
    color: #F87719;
}

.hero-more-title {
    margin-top: 22px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.hero-more-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between
}

.hero-more-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-more-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-more-specification {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #B7B7B7;
}


.hero-more-stats {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #FFFFFF;
}

.hero-more-accent {
    padding: 1px 4px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #000;
    font-size: 12px;
    line-height: 14px;

}

.hero-more-slash {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #B7B7B7;
    margin: 0 4px 0 7px;
}

.hero-more-about {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #B7B7B7;
}

.hero-more-descriptions {
    width: 90%;
    height: 159px;
    overflow-y: auto;
    margin-top: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: #F8F8F8;
}


.hero-more_deteils-add_btn {
    margin-top: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #000;
    padding: 12px 24px;
    border-radius: 74px;
    border: 1px solid #F87719;

}

.hero-more_deteils-add_btn:hover {
    border: none;
    color: #F87719;
    background-color: #FFFFFF;
}




@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        padding-left: 20px;
        height: 380px;
        background: linear-gradient(86.77deg, #111111 1.38%, rgba(17, 17, 17, 0) 10.61%), url(../images/BG/mobile-bg-home-x2-min.jpg);
        background-position: 90px;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: var(--color-primary) */
        background-color: #111111;
    }

}



@media screen and (min-width: 768px) {
    .hero {
        padding-left: 32px;
        height: 432px;
        background: linear-gradient(86.77deg, #111111 10.38%, rgba(17, 17, 17, 0) 30.61%), url(../images/BG/tablet-bg-home-x1-min.jpg);
        background-position: 170px;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: var(--color-primary) */
        background-color: #111111;
    }



    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            padding-left: 32px;
            height: 432px;
            background: linear-gradient(86.77deg, #111111 10.38%, rgba(17, 17, 17, 0) 30.61%), url(../images/BG/tablet-bg-home-x2-min.jpg);
            background-position: 170px;
            background-repeat: no-repeat;
            background-size: cover;
            /* background-color: var(--color-primary) */
            background-color: #111111;
        }

    }

    .modal-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        overflow: scroll;
    }

    .hero-more-deteils {
        display: flex;
        justify-content: center;
        max-width: 704px;
        padding: 0;
    }

    .hero-more-poster {
        margin-top: 44px;
        margin-left: 44px;
        margin-bottom: 44px;
        width: 294px;
        height: 400px;
    }

    .hero-more-deteils-info {
        width: 50%;
        margin-top: 44px;
        margin-left: 16px;
        margin-right: 50px;
    }

    .hero-more-svg {
        top: 30px;
        right: 30px;
    }


    .hero-more-title {
        margin: 0;
        font-size: 24px;
        line-height: 28px;
    }


    .hero-more-accent {
        font-size: 12px;
        line-height: 14px;

    }

    .hero-more-slash {
        font-size: 16px;
        line-height: 19px;
    }

    .hero-more_deteils-add_btn {
        margin-top: 24px;
        font-size: 12px;
        line-height: 16px;

    }

    .hero-more-descriptions {
        width: 301px;
        height: 140px;
        overflow-y: auto;
    }

    .hero-title {
        max-width: 350px;
        padding-top: 122px;
        font-size: 44px;
        line-height: calc(52/44);
    }

    .hero-text {
        max-width: 350px;
    }


    .hero-wrapper-btn {
        margin-top: 32px;
    }

    .hero-getstarted-btn {
        font-size: 14px;
        line-height: calc(20/14);
    }

    .hero-moredetails-btn {
        font-size: 14px;
        line-height: calc(20/14);
    }


    .trailer-text {
        width: 50%;
        padding: 132px 0 0 44px;
        font-size: 24px;
        line-height: calc(28/24)
    }



    .trailer-srcset {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .trailer-svg-close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 10.5px;
        height: 10.5px;
    }


}

@media screen and (min-width: 1280px) {
    .hero {

        height: 720;
        background: linear-gradient(86.77deg, #111111 10.38%, rgba(17, 17, 17, 0) 30.61%), url(../images/BG/desctop-bg-home-x1-min.jpg);
        background-position: 170px;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: var(--color-primary) */
        background-color: #111111;
    }


    .hero-more-deteils {
        max-width: 846px;

    }

    .hero-more-poster {
        margin-top: 60px;
        margin-left: 60px;
        margin-bottom: 60px;
        width: 375px;
        height: 487px;

    }

    .hero-more-deteils-info {
        width: 50%;
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 60px;
    }

    .hero-more-svg {
        top: 46px;
        right: 46px;
    }


    .hero-more-title {
        font-size: 24px;
        line-height: 32px;
    }

    .hero-more-specification {
        font-size: 16px;
        line-height: 19px;
    }


    .hero-more-stats {
        font-size: 16px;
        line-height: 19px;
    }


    .hero-more-accent {
        font-size: 14px;
        line-height: 16px;

    }

    .hero-more-descriptions {
        width: 331px;
        height: 159px;
        overflow-y: auto;
        font-size: 14px;
        line-height: 20px;
    }


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            height: 720;
            background: linear-gradient(86.77deg, #111111 10.38%, rgba(17, 17, 17, 0) 30.61%), url(../images/BG/desctop-bg-home-x2-min.jpg);
            background-position: 170px;
            background-repeat: no-repeat;
            background-size: cover;
            /* background-color: var(--color-primary) */
            background-color: #111111;
        }

    }

    .trailer-modal {

        max-width: 800px;
        max-height: 600px;

    }

    #trailer-video {
        max-width: 800px;
        max-height: 600px;


    }

    .hero-title {
        max-width: 470px;
        padding-top: 230px;
        font-size: 64px;
        line-height: calc(75/64);
    }

    .hero-text {
        max-width: 470px;
        font-size: 16px;
        line-height: calc(19/16)
    }

    .hero-getstarted-btn {
        font-size: 16px;
        line-height: calc(24/16);
    }

    .hero-moredetails-btn {
        font-size: 16px;
        line-height: calc(24/16);
    }

    .trailer-text {
        position: relative;
        width: 40%;
        bottom: 70px;

    }


    .trailer-srcset {
        position: relative;
    }

    .trailer-svg-close {
        position: absolute;
        top: 35px;
        right: 35px;

    }


}



/* fff */