p,
h1,
h2,
h3 {
  margin: 0;
}
* {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background: #111111;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.hero-library {
  background: linear-gradient(
      79.49deg,
      #111111 34.1%,
      rgba(17, 17, 17, 0) 64.67%
    ),
    url('/src/images/BG/mobile-bg-my_library\ -x1-min.jpg');
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 144px;
}

.hero-text-library {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #ffffff;
  max-width: 235px;
  text-align: left;
  margin-bottom: 8px;
  padding-left: 20px;
}
.hero-description-library {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #f8f8f8;
  max-width: 249px;
  text-align: left;
  padding-left: 20px;
}
.error-section {
  background-color: #111111;
  padding-top: 44px;
  padding-bottom: 42px;
  text-align: center;
}

.error-message {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.search-button {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 22px;
  color: #111111;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  border: none;
  border-radius: 74px;
  padding: 12px 24px;
  margin-top: 20px;
  cursor: pointer;
}
.library-section {
  padding-top: 60px;
  background-color: #111111;
}
.search_film_list {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}
.search_film_title {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.67;
  color: #ffffff;
}
.search_film_genre {
  font-weight: 500;
  line-height: 1.67;
  color: #b7b7b7;
}
.search_film_img_wrap {
  position: relative;
}
.search_film_img {
  border-radius: 5px;
}
.search_film_wrap {
  position: absolute;
  bottom: 20px;
  left: 12px;
}
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-button {
  width: 172px;
  height: 44px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: start;
  padding-left: 20px;
  background-color: #1c1c1c;
  color: #b7b7b7;
  border: 1px solid #b7b7b7;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-button:hover {
  background-color: #333333;
}

.dropdown-content {
  position: absolute;
  background-color: #1c1c1c;
  border: 0.5px solid #b7b7b7;
  border-radius: 4px;
  width: 172px;
  z-index: 1;
  display: none;
}

.dropdown-content.active {
  display: block;
}

.genre-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.genre-list li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f8f8f8;
  background: #1c1c1c;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #ffffff;
  border: 0.5px solid #b7b7b7;
  padding: 14px 92px 10px 20px;
  cursor: pointer;
}

.genre-list li:hover {
  color: #ffffff;
  background-color: #333333;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .search_film {
    text-align: center;
  }
  .search_film_wrap,
  .search_film_img {
    width: 224px;
  }
  .search_film_title,
  .search_film_genre {
    line-height: 1.5;
  }
  .search_film_list {
    column-gap: 16px;
    row-gap: 28px;
  }
  .search_film_list {
    padding-top: 36px;
  }
  .search_film {
    padding-top: 60px;
  }
  .hero-library {
    background: linear-gradient(
        77.77deg,
        #111111 33.58%,
        rgba(17, 17, 17, 0) 71.57%
      ),
      url(/src/images/BG/tablet-bg-my_library\ -x1-min.jpg);
    padding-top: 62px;
    padding-bottom: 118px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-text-library {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #ffffff;
    max-width: 332px;
    padding-left: 32px;
  }
  .hero-description-library {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #f8f8f8;
    max-width: 357px;
    padding-left: 32px;
  }
  .error-section {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .error-message {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
  }
  .search-button {
    margin-top: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #111111;
  }
  .dropdown-button {
    width: 144px;
  }
  .genre-list {
    width: 144px;
  }
  .dropdown-content {
    width: 144px;
  }
  .library-section {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1290px;
  }
  .search_film_wrap,
  .search_film_img {
    width: 394px;
  }
  .search_film_title {
    font-size: 18px;
  }
  .search_film_genre {
    font-size: 20px;
    line-height: 1.15;
  }
  .search_film_input {
    width: 334px;
  }
  .search_film_wrap {
    left: 20px;
  }
  .hero-library {
    background: linear-gradient(
        80.53deg,
        #111111 31.92%,
        rgba(17, 17, 17, 0) 72.35%
      ),
      url(/src/images/BG/desctop-bg-my_library\ -x1-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 229px;
    padding-bottom: 341px;
  }
  .hero-text-library {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;
    color: #ffffff;
    max-width: 464px;
    margin-bottom: 16px;
    padding-left: 117px;
  }
  .hero-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    max-width: 464px;
    color: #f8f8f8;
    padding-left: 117px;
  }
  .error-section {
    padding-top: 160px;
    padding-bottom: 188px;
  }
  .error-message {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
  }
  .search-button {
    margin-top: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    text-align: center;
  }
  .dropdown-button {
    width: 260px;
  }
  .genre-list {
    width: 260px;
  }
  .dropdown-content {
    width: 260px;
  }
  .library-section {
    padding-top: 110px;
  }
}
