* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --font-family-primary: "Roboto", sans-serif;
    --font-family-secondary: Roboto, sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --color-primary: #111111;
    --color-secondary: #F87719;
    --color-tertiary: #B7B7B7;
    --font-size-title: 28px;
    --font-size-subtitle: 20px;
    --font-size-description: 16px;
    --font-size-rating: 15px;
    --text-primary-color: #F8F8F8;
    --text-secondary-color: #FFFFFF;
    --btn-linear-color: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

p:last-child {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 320px) {
    .container {
        min-width: 320px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        min-width: 1280px;
        padding-left: 32px;
        padding-right: 32px;
    }
}


section {
    font-family: "Roboto", sans-serif;
}

.list {
    list-style-type: none;
}

.link {
    list-style: none;
}
.ishidden {
    display: none;
}