* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

p:last-child {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 320px) {
    .container {
        min-width: 320px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        min-width: 1280px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

section {
    font-family: "Roboto", sans-serif;
}

.list {
    list-style-type: none;
}

.link {
    list-style: none;
}